html, body {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

div {
    position: relative;
}

.clearFix {
    overflow: auto;
}

.photoError {
    display: none;
    color: darkred;
    padding: 20px;
}

.photoError.show {
    display: block;
}

.photo {
    padding: 10px;
    width: auto;
    float: left;
}

.photo img {
    height: 300px;
}

.photo img:hover {
    cursor: pointer;
}

.photoTitle {
    padding: 0 10px;
    color: white;
}

.lightBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    text-align: center;
}

.lightBox.show {
    display: block;
}

.lightBox .boxShadow {
    background-color: black;
    position: absolute;
    opacity: 0.7;
    height: 100vh;
    width: 100vw;
}

.lightBox .close {
    float: right;
    padding: 10px;
    color: white;
    position: relative;
    font-weight: 700;
}

.lightBox .close:hover {
    cursor: pointer;
}

.lightBox .focusedImage {
    display: inline-block;
    top: 25%;
}

.lightBox .focusedImage .move {
    color: deepskyblue;
    display: block;
    position: absolute;
    top: 50%;
    z-index: 10;
}

.lightBox .focusedImage .move.next {
    right: 0;
}

.lightBox .focusedImage .move.hide {
    display: none;
}

.lightBox .focusedImage .move:hover {
    cursor: pointer;
}

.lightBox .focusedImage .selected {
    padding: 0 40px;
}